body {
    font-family: crimson text, serif;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    background: #eee5ce;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 18px;
    color: #b87f17;
    font-weight: 500;
}

.examples {
    margin-top: 10px;
}

.examples .content{
    font-style: italic;
}

.examples ul {
    list-style: '- ';
}

.header {
    margin-top: 50px;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #b87f17;
}

.highlight {
    color: #b87f17;
}